.header{
    background: url('bg.jpg')  no-repeat ;
    height: 800px;
    background-size: cover ;
    padding-top: 20px;
}
.title-big{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}
.title-small{
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
}

body{
    margin: 0;
}

.card-img1{
    background: url('img1.jpg');
    width: 400px;
    height: 400px;
    background-size: cover;
}

.card-img2{
    background: url('img2.jpg');
    width: 400px;
    height: 400px;
    background-size: cover;
}

.cards{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.card{
    max-width: 500px;
    width: 100%;
}

.card-img1, .card-img2{
    margin: 0 auto;
}



@media(max-width:800px){
.title-big {
    font-size: 30px;
}
.title-small{
    font-size: 20px;
}
.header{
    height: 600px;
}
.cards{
    flex-direction: column;
    align-items: center;
}

}


@media(max-width:500px){
    .title-big {
        font-size: 20px;
    }
    .title-small{
        font-size: 18px;
    }
    .header{
        height: 400px;
    
    }
    .card-img1, .card-img2{
        width: 200px;
        height: 200px;
    }
}